body{
    font-family: arial;
    font-size: 14px;
    color: #666;
}
a{
    color: #333;
}
a:hover{
    color: #333;
    text-decoration: none;
}
.block{
    padding-top: 50px;
    padding-bottom: 50px;
}
.title{
    font-size: 28px;
    text-transform: capitalize;
}
#footer ul{
    padding: 0;
}
#footer ul li{
    list-style: none;
}
#footer ul li a{
    color: #666;
}
#footer p{
    color: #666;
    margin: 0;
    padding-top: 50px;
}